@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: "moderno";
  src: url("../src/assets/fonts/modernofbcomp-bold.otf");
}

html,
body {
  scroll-behavior: smooth !important;
  font-family: 'Noto Serif', serif;
  background-image: url(../src/assets/images/png/bg-img.png);
}

.ff-moderno {
  font-family: "moderno";

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}

.text-shadow {
  text-shadow:
    -1px -1px 1px #0000004D,
    1px 1px 1px #FFFFFF;
}
.text-shadow-effect {
  text-shadow:
    2px 2px 4px #00000040,
    0px 4px 4px #00000040,
    2px 2px 1px #FFFFFF52;
}
.text-effect {
  text-shadow:
    2px 2px 4px #00000040,
    2px 2px 1px #FFFFFF52;
}